target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.settings
.*
bin
brouillon

out
server
node_modules
*.vsix
.DS_Store
.vscode-test
undefined
target
dist
jre
lombok
bin/
.settings
.classpath
.project
test/resources/projects/**/.vscode
test/resources/projects/maven/salut/testGradle
test-temp